# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ukoly.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\petrz\RiderProjects\Ukoly\.idea\.idea.Ukoly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
